[Unit]
Description=NCEP Wave Forecast Server

[Service]
ExecStart=<path-to-ncep-wave-plotter>/.wave-env/bin/twistd \
    --nodaemon \
    --pidfile= \
    web --listen systemd:domain=INET:name=ncep-forecast.socket --wsgi ncep_forecast.app
        
NonBlocking=true

WorkingDirectory=/home/wave/

User=wave
Group=wave


Restart=always

# [Install]
# WantedBy=multi-user.target
