body{
    background-color:#141b1d;
    color: whitesmoke;
    text-align:center;
    font-size:16px;
    /* font-variant:small-caps; */
    font-family:Lucida,Helvetica,sans-serif;
    font-weight:500;
    text-decoration: none;
}

.time-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.fake-scroll {
    position: absolute;
    top: 0;
    width: 1px;
}

.image {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
