<!doctype html>
<title>{{ station }} Forecast</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<head>
  <script src="{{ url_for('static', filename='spectrum.js') }}"></script>
  <script>
    let player = new ForecastPlayer({{ station }});
  </script>
</head>
<body>
  <div id="spec-container" class="time-scroll">
    <div>
      <h1 id="date"> Date </h1>
    </div>
    <div>
      <h2 id="hs"> Significant Wave Height </h2>
    </div>
    <div>
      <img id="spectrum" class="image"/>
    </div>
  </div>

<script>
  player.init("spectrum", "date", "hs", "spec-container").then(
      () => player.play()
  );
  document.body.addEventListener("keydown", player);
  document.body.addEventListener("keyup", player);
  spectrum.addEventListener("mouseover", player);
  spectrum.addEventListener("mouseout", player);
  spectrum.addEventListener("click", player);
</script>
</body>
